{% extends 'layout.html' %}

{% block title %}Edit {{ user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="mb-4">Edit {{ user.username }}</h1>
                <form method="post" action="{% url 'edit_user' user.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Username" name="username" value="{{ user.username }}">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="First name" name="first_name" value="{{ user.first_name }}">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Last name" name="last_name" value="{{ user.last_name }}">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="email" value="{{ user.email }}">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="user_group" aria-label="Default select example">
                            {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="{% url 'users' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
